<div class="page-banner" style="padding:40px 0; background: center #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
				<h2>Regras do Clube</h2>
				<p>Política de Privacidade</p>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumbs">
                    <li>Início</li>
                    <li>Regras do Clube</li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4 class="classic-title"><span>Política de Privacidade</span></h4>
                <div class="form-group">
                    <label [ngClass]="currentPolicyPrivacy.PolicyPrivacyText ? 'active' : ''" for="policyPrivacyText" [(ngModel)]="currentPolicyPrivacy.PolicyPrivacyText">Política</label>                                      
                </div>                
            </div>
        </div>
    </div>
</div> 